<h2 class="section-title">{{ .titles.schedule }}</h2>

<ul class="schedule-tabs">
  <li class="active"><a href="#" activate="day-1">[26/04] Tutoriais - Dia 1</a></li>
  <li><a href="#" activate="day-2">[27/04] Palestras - Dia 2</a></li>
  <li><a href="#" activate="day-3">[28/04] Palestras - Dia 3</a></li>
</ul>
<script type="text/javascript">
  var lists = document.querySelectorAll(".schedule-tabs li"), 
      doSomething = function(evt) {
          [].map.call(lists, function(elem) { 
            elem.classList.remove('active');
            var id = elem.children[0].getAttribute('activate');
            document.getElementById(id).classList.add('hidden');
          });
          this.classList.add('active');
          var id = this.children[0].getAttribute('activate');
          document.getElementById(id).classList.remove('hidden');
          evt.preventDefault();
      };
  [].map.call(lists, function(elem) {
      elem.addEventListener('click', doSomething, false);
  });
</script>
<div id="day-1" class="schedule-tbl">
  <h3>Tutoriais & Sprints</h3>
  <div class="schedule-location">
    Os tutoriais vão acontecer na <strong>UCL - Faculdade do Centro Leste.</strong>
    Em breve divulgaremos a grade.
  </div>
</div>
<div id="day-2" class="schedule-tbl hidden">
  <h3>Palestras</h3>
  <div class="schedule-location"><strong>Hotel Senac Ilha do Boi</strong></div>
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Horário</th>
        <th class="schedule-slot">Palestrante</th>
        <th class="schedule-description">Palestra</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .scheduleday1 }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .name }}
            </td>
            <td class="schedule-description">{{ .presentation.title }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
<div id="day-3" class="schedule-tbl hidden">
  <h3>Palestras</h3>
  <div class="schedule-location"><strong>Hotel Senac Ilha do Boi</strong></div>
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Horário</th>
        <th class="schedule-slot">Palestrante</th>
        <th class="schedule-description">Palestra</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .scheduleday2 }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .name }}
            </td>
            <td class="schedule-description">{{ .presentation.title }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>

